html {
  font-size: 0.625rem; /* 10px equivalent thanks to default of 16px */

  * {
    box-sizing: border-box;
  }
}

body {
  font-size: 1.6rem; /* 16px equivalent */
}


.page-wrapper {
  padding: 0 2rem;
}
