.page-wrapper {
}

.view-menu {
}

.menu-wrapper {
}

.menu {
}

.your-order {
}



.food-category {
  margin-top: 4rem;
  text-transform: capitalize;
}

.menu-item {
  margin: 0 0 5rem 0;
  position: relative;
}

.item-name {
  display: inline-blok;
  margin:0 4rem 1rem 0;
}

.item-price {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.item-description {
  margin: 0 0 1rem 0;
}


.your-order {
  font-size: .8em;

  .menu-item {
    margin-bottom: 2rem;
  }
}

.order-cost {
  text-align: right;
}

.order-summary {
  max-width: 50rem;
  margin: 5rem auto;
  padding: 4rem;
  box-shadow: 0 .2rem .3rem 0 #aaa;
  border-top: .6rem solid;

  h3 {
    margin-top: 0 0 1rem 0;
  }

  .menu-item {
    margin-bottom: 2rem;
  }
}

.btn-place-order {
  display: block;
  width: 100%;
  color: #fff;
  background: #444;
  box-shadow: 0 .2rem 0 0 #000;

  &:hover {
    background: #777;
    box-shadow: 0 .2rem 0 0 #333;
  }

  &:disabled {
    color: #bbb;
    background: #f0f0f0;
    box-shadow: 0 .2rem 0 0 #ddd;
  }
}


@media only screen and (min-width: 30rem) {
  .page-wrapper {

  }

  .view-menu {
  }

  .menu-wrapper {
    display: flex;
  }

  .menu {
    flex: 1;
  }

  .your-order {
    width: 150rem;
    padding-left: 4rem;
  }
}
