
.food-category {
  margin-top: 4rem;
  text-transform: capitalize;
}

.menu-item {
  margin: 0 0 3rem 0;
  position: relative;
}

.item-name {
  display: inline-blok;
  margin:0 4rem 1rem 0;
}

.item-price {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.item-description {
  margin: 0 0 2rem 0;
}
